{
  "input_dir": "./sample",
  "recursive": false,
  "tag_add_file": "tag_add.txt",
  "tag_remove_file": "tag_remove.txt",
  "regexp": false,
  "shuffle": false,
  "shuffle_keep_first": 0,
  "backup": true,
  "backup_mode": "skip",
  "dry_run": false,
  "diff": false
}
